<div class="d-flex flex-column">
  <div class="d-flex justify-content-between align-items-center">
        <h4 mat-dialog-title>Détails de la consultation</h4>
    <button class="btn" (click)="close()">
      <fa-icon class="me-2" [icon]="faXmark"></fa-icon>
    </button>
  </div>
  <div class="px-4 pb-4">
    <div class="d-flex flex-row align-items-center">
      <ng-container [ngSwitch]="consultation.statut">
        <img *ngSwitchCase="1" src="./assets/tete-de-chien.png" alt="Chien" class="img">
        <img *ngSwitchCase="2" src="./assets/tete-de-chat.png" alt="Chat" class="img">
        <img *ngSwitchCase="3" src="./assets/cameleon.png" alt="NAC" class="img">
        <span *ngSwitchDefault>Autre</span>
      </ng-container>
      <div class="d-flex-flex-column">
        <div>
          <span>{{consultation.animal.nom}}</span>
        </div>
        <div>
          <span>Né le {{consultation.animal.dateNaissance}} (23ans)</span>
        </div>
      </div>
    </div>
      <div class="d-flex flex-column justify-content-center">
        <span>{{consultation.typeOperation.label}} le {{consultation.date}} par {{consultation.veterinarian.nom}} {{consultation.veterinarian.prenom}}</span>
      </div>
    </div>
</div>
  
