<div class="p-4">
    <fa-icon style="color: green" [icon]="faCheck" class="d-flex justify-content-center fa-2xl mb-3"></fa-icon>
    <h2 mat-dialog-title class="d-flex justify-content-center">Terminer la consultation</h2>
    <mat-dialog-content class="d-flex justify-content-center">
        Veux-tu vraiment confirmer ce changement ?
    </mat-dialog-content>
    <mat-dialog-actions class="d-flex justify-content-evenly">
    <button class="cancel-button" (click)="cancel()">Annuler</button>
    <button class="validate-button" (click)="confirm()">Confirmer</button>
    </mat-dialog-actions>
</div>