<p>patient-form works!</p>
<div class="d-flex justify-content-center">
  <form [formGroup]="myForm" class="w-50">
    <div class="card-body">
      <h5 class="card-title">Patient</h5>
      <div class="form-group">
        <label>Nom</label>
        <input type="text" class="form-control" id="nom" formControlName='nom'/>
        <div *ngIf="myForm.get('nom')?.invalid && (myForm.get('nom')?.dirty || myForm.get('nom')?.touched)" class="alert alert-danger">
          <div *ngIf="myForm.get('poids')?.errors?.['required']">Le nom est obligatoire</div>
        </div>
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" formControlName='age'/>
        
      </div>

      <div class="form-group">
          <label for="statut">Statut</label>
          <input type="text" class="form-control" id="statut" formControlName='statut'/>
          <div *ngIf="myForm.get('statut')?.invalid && (myForm.get('statut')?.dirty || myForm.get('statut')?.touched)" class="alert alert-danger">
          </div>
          <div *ngIf="myForm?.errors?.['required']" class="alert alert-danger">Le statut est obligatorie</div>
      </div>

      
    </div>
  </form>
</div>