<div class="p-3">
    <div class="d-flex justify-content-end align-items-center">
        <div class="d-flex align-items-center input-group me-2" style="width: 20%;">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Rechercher..." [(ngModel)]="searchTerm" (ngModelChange)="filterAnimaux()">
        </div>
        <button class="btn btn-dark" (click)="createAnimal()">
            <fa-icon class="me-2" [icon]="faPlus"></fa-icon>
            <span>Ajouter un animal</span>
        </button>
    </div>

    <table mat-table matSort [dataSource]="animalService.animaux()" style="table-layout: auto; width: 100%;">
        <ng-container matColumnDef="Nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
            <td mat-cell *matCellDef="let animal">{{ animal.nom }}</td>
        </ng-container>
        <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell *matCellDef="let animal"> 
                <ng-container [ngSwitch]="animal.type.id">
                    <img *ngSwitchCase="1" src="./assets/tete-de-chien.png" alt="Chien" class="img-logo" >
                    <img *ngSwitchCase="2" src="./assets/tete-de-chat.png" alt="Chat" class="img-logo">
                    <img *ngSwitchCase="3" src="./assets/cameleon.png" alt="NAC" class="img-logo">
                    <span *ngSwitchDefault>Autre</span>
                </ng-container>
            </td>
        </ng-container>
        <ng-container matColumnDef="DateNaissance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de naissance</th>
            <td mat-cell *matCellDef="let animal"> {{ animal.dateNaissance }}</td>
        </ng-container>
        <ng-container matColumnDef="Propriétaire">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Propriétaire</th>
            <td mat-cell *matCellDef="let animal">
                <app-card-owner 
                    [firstName]="animal.proprietaire.prenom" 
                    [lastName]="animal.proprietaire.nom" 
                    [email]="animal.proprietaire.email">
                </app-card-owner>
            </td>
        </ng-container>
        <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let animal">
                <button mat-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                    <fa-icon style="color: black" [icon]="faEllipsisVertical"></fa-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="deleteAnimal(animal.id); $event.stopPropagation()">
                        <fa-icon class="me-2" style="color: red" [icon]="faTrash"></fa-icon>
                        <span>Supprimer</span>
                    </button>
                    <button mat-menu-item (click)="editAnimal(animal.id); $event.stopPropagation()">
                        <fa-icon class="me-2" style="color: blue" [icon]="faEdit"></fa-icon>
                        <span>Modifier</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showAnimal(row.id)"></tr>
    </table>
</div>