<button class="btn btn-primary" (click)="goToCreatePatient()">Ajouter un patient</button>

<table mat-table [dataSource]="patientService.patients()">
    <ng-container matColumnDef="Statut">
        <th mat-header-cell *matHeaderCellDef>Statut</th>
        <td mat-cell *matCellDef="let patient">
            <ng-container [ngSwitch]="patient.statut">
                <span *ngSwitchCase="'Terminé'" class="badge bg-success">Terminé</span>
                <span *ngSwitchCase="'En cours'" class="badge bg-primary">En cours</span>
                <span *ngSwitchCase="'En attente'" class="badge bg-secondary">En attente</span>
                <span *ngSwitchDefault class="badge inconnu">Inconnu</span>
              </ng-container>
            </td>
    </ng-container>
    <ng-container matColumnDef="Nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let patient"> {{ patient.nom }}</td>
    </ng-container>
    <ng-container matColumnDef="Age">
        <th mat-header-cell *matHeaderCellDef>Age</th>
        <td mat-cell *matCellDef="let patient"> {{ patient.age }}</td>
    </ng-container>
    <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let patient"> 
            <ng-container [ngSwitch]="patient.type">
                <img *ngSwitchCase="'Chien'" src="./assets/tete-de-chien.png" alt="Chien" class="img-logo">
                <img *ngSwitchCase="'Chat'" src="./assets/tete-de-chat.png" alt="Chat" class="img-logo">
                <img *ngSwitchCase="'NAC'" src="./assets/cameleon.png" alt="NAC" class="img-logo">
                <span *ngSwitchDefault>Autre</span>
            </ng-container>
        </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let patient">
            <button class="btn btn-danger" (click)="deletePatient(patient.id); $event.stopPropagation()">
                <fa-icon style="color: white" [icon]="faTrash"></fa-icon>
            </button>
            <button class="btn btn-primary" (click)="goToEditPatient(patient.id); $event.stopPropagation()">
                <fa-icon style="color: white" [icon]="faEdit"></fa-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToPatient(row.id)"></tr>
</table>