<form [formGroup]="myForm">
  <h4 mat-dialog-title>Créer une propriétaire</h4>
  <div class="p-4">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" class="form-control" id="nom" formControlName='nom'/>
      <div *ngIf="myForm.get('nom')?.invalid && (myForm.get('nom')?.dirty || myForm.get('nom')?.touched)" class="alert alert-danger">
        <div *ngIf="myForm.get('nom')?.errors?.['required']">Le nom est obligatoire</div>
      </div>
    </div>

    <div class="form-group">
      <label for="prenom">Prenom</label>
      <input type="text" class="form-control" id="prenom" formControlName='prenom'/>
      <div *ngIf="myForm.get('prenom')?.invalid && (myForm.get('prenom')?.dirty || myForm.get('prenom')?.touched)" class="alert alert-danger">
        <div *ngIf="myForm.get('prenom')?.errors?.['required']">Le prénom est obligatoire</div>
      </div>
    </div>

    <div class="form-group">
      <label for="numero">Numéro</label>
      <input type="text" class="form-control" id="numero" formControlName='numero'/>
      <div *ngIf="myForm.get('numero')?.invalid && (myForm.get('numero')?.dirty || myForm.get('numero')?.touched)" class="alert alert-danger">
        <div *ngIf="myForm.get('numero')?.errors?.['required']">Le numéro est obligatoire</div>
      </div>
    </div>

    <div class="form-group">
        <label for="mail">Mail</label>
        <input type="email" class="form-control" id="mail" formControlName='mail'/>
        <div *ngIf="myForm.get('mail')?.invalid && (myForm.get('mail')?.dirty || myForm.get('mail')?.touched)" class="alert alert-danger">
        </div>
        <div *ngIf="myForm?.errors?.['required']" class="alert alert-danger">Le statut est obligatorie</div>
    </div>
  </div>
</form>
<mat-dialog-actions class="d-flex flex-row justify-content-evenly">
  <button class="cancel-button" (click)="cancel()">Annuler</button>
  <button class="d-flex justify-content-center align-items-center btn btn-success" (click)="onSubmit()">
    Ajouter un propriétaire
  </button>
</mat-dialog-actions>