<form [formGroup]="myForm">
  <div class="d-flex justify-content-between align-items-center">
    <h4 mat-dialog-title>Détails du document</h4>
    <button class="btn" (click)="close()">
      <fa-icon class="me-2" [icon]="faXmark"></fa-icon>
    </button>
  </div>
  <div class="px-4 pb-4">
    <ng-container
      *ngIf="this.data?.id; then documentWithId; else documentWithoutId">
    </ng-container>
    <ng-template #documentWithId>
      <div class="form-group">
        <label for="titre">Titre<span style="color: red;">*</span></label>
        <input type="text" class="form-control" id="titre" formControlName="titre"/>
      </div>
    </ng-template>
    <ng-template #documentWithoutId>
      <div class="form-group">
        <label for="titre">Titre<span style="color: red;">*</span></label>
        <select class="form-select" formControlName='titre'>
            <option *ngFor="let document of documentService.documents()" [ngValue]="document.id">
              {{document.titre}}
            </option>
        </select>
      </div>
    </ng-template>
    <div class="form-group">
      <label for="statut">Informations complémentaires</label>
      <input type="text" class="form-control" id="infosComp" formControlName="infosComp"/>
    </div>
  </div>
</form>
    
  
