<div class="p-3">
    <div class="d-flex justify-content-center mb-4">
        <div class="border rounded d-inline-flex me-5">
            <div class="d-flex align-items-center px-4 py-2">
                <div class="py-2 px-3 rounded me-4" style="background-color: #d8ffd9">    
                    <fa-icon class="fa-2xl" style="color: green" [icon]="faCheck"></fa-icon>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <p style="font-size: 14px;" class="fw-light m-0 p-0 text-center">Consultation {{consultationsFinishedCount > 1 ? 'terminées' : 'terminée'}}</p>
                    <p class="fs-2 fw-bold m-0 p-0">{{consultationsFinishedCount}}</p>
                </div>
            </div>
        </div>

        <div class="border rounded d-inline-flex">
            <div class="d-flex align-items-center px-4 py-2">
                <div class="py-2 px-3 rounded me-4" style="background-color: #ededed">    
                    <fa-icon class="fa-2xl" style="color: grey" [icon]="faHourglass"></fa-icon>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <p style="font-size: 14px;" class="fw-light m-0 p-0 text-center">Consultation {{consultationsPendingCount > 1 ? 'en attentes' : 'en attente'}}</p>
                    <p class="fs-2 fw-bold m-0 p-0">{{consultationsPendingCount}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end align-items-center">
        <div class="d-flex align-items-center input-group me-2" style="width: 20%;">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Rechercher..." [(ngModel)]="searchTerm" (ngModelChange)="filterConsultations()">
        </div>
        <button class="btn btn-secondary me-2" (click)="createTypeConsultation()">
            <fa-icon class="me-2" [icon]="faPlus"></fa-icon>
            <span>Ajouter un type de consultation</span>
        </button>
        <button class="btn btn-dark" (click)="createConsultation()">
            <fa-icon class="me-2" [icon]="faPlus"></fa-icon>
            <span>Ajouter une consultation</span>
        </button>
    </div>

    <table mat-table matSort [dataSource]="consultationService.consultations()" style="table-layout: auto; width: 100%;">
        <ng-container matColumnDef="Statut">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Statut</th>
            <td mat-cell *matCellDef="let consultation" style="width: 7rem;">
                <ng-container [ngSwitch]="consultation.statut.id">
                    <span *ngSwitchCase="1" class="badge bg-success d-inline" style="font-size: 13px;">{{consultation.statut.libelle}}</span>
                    <span *ngSwitchCase="2" class="badge bg-secondary d-inline" style="font-size: 13px;">{{consultation.statut.libelle}}</span>
                    <span *ngSwitchCase="3" class="badge bg-danger d-inline" style="font-size: 13px;">{{consultation.statut.libelle}}</span>
                    <span *ngSwitchDefault class="badge inconnu">Inconnu</span>
                </ng-container>
                </td>
        </ng-container>
        <ng-container matColumnDef="Titre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Titre</th>
            <td mat-cell *matCellDef="let consultation">{{ consultation.titre }}</td>
        </ng-container>
        <ng-container matColumnDef="Animal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Animal</th>
            <td mat-cell *matCellDef="let consultation"> 
                <ng-container [ngSwitch]="consultation.animal.libelle">
                    <img *ngSwitchCase="'Chien'" src="./assets/tete-de-chien.png" alt="Chien" class="img-logo" >
                    <img *ngSwitchCase="'Chat'" src="./assets/tete-de-chat.png" alt="Chat" class="img-logo">
                    <img *ngSwitchCase="'NAC'" src="./assets/cameleon.png" alt="NAC" class="img-logo">
                    <span *ngSwitchDefault>Autre</span>
                </ng-container>
                {{ consultation.animal.nom }}
            </td>
        </ng-container>
        <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let consultation"> {{ consultation.date }}</td>
        </ng-container>
        <ng-container matColumnDef="TypeOperation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type de consultation</th>
            <td mat-cell *matCellDef="let consultation"> 
                <app-card-type-consultation [label]="consultation.typeOperation.label" [color]="consultation.typeOperation.color"/>
            </td>
        </ng-container>
        <ng-container matColumnDef="Veterinaire">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Vétérinaire</th>
            <td mat-cell *matCellDef="let consultation">
                <app-card-vet [firstName]="consultation.veterinarian.prenom" [lastName]="consultation.veterinarian.nom"/>
            </td>
        </ng-container>
        <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let consultation">
                <button mat-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                    <fa-icon style="color: black" [icon]="faEllipsisVertical"></fa-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button *ngIf="consultation.statut.id !== 1" mat-menu-item (click)="completeConsultation(consultation.id); $event.stopPropagation()">
                        <fa-icon class="me-2" style="color: green" [icon]="faCheck"></fa-icon>
                        <span>Terminer la consultation</span>
                    </button>
                    <button mat-menu-item (click)="deleteConsultation(consultation.id); $event.stopPropagation()">
                        <fa-icon class="me-2" style="color: red" [icon]="faTrash"></fa-icon>
                        <span>Supprimer</span>
                    </button>
                    <button mat-menu-item (click)="editConsultation(consultation.id); $event.stopPropagation()">
                        <fa-icon class="me-2" style="color: blue" [icon]="faEdit"></fa-icon>
                        <span>Modifier</span>
                    </button>
                    <button mat-menu-item (click)="generateDocument(); $event.stopPropagation()">
                        <fa-icon class="me-2" style="color: black" [icon]="faFileText"></fa-icon>
                        <span>Générer un document</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showConsultation(row.id)"></tr>
    </table>
</div>